@font-face {
  font-family: "Walkway";
  src: url("./Assets/Fonts/Walkway.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Walkway";
  color: rgb(25, 25, 25);
}

// HEADER
.header__wrapper {
  height: 10vh;
  background-color: #f0ede2;
  display: flex;
  justify-content: center;

  &-links {
    text-decoration: none;
    color: inherit;
  }

  &-logo {
    display: flex;
    align-items: center;
    font-family: "Walkway";
  }

  &-icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__container {
  width: 97%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.homepage__wrapper {
  height: 115vh;
  background-color: #f0ede2;
  padding: 10px 30px;

  &-title {
    display: flex;
    justify-content: center;
  }
}

.homepage__container {
  background-color: red;
  height: 90%;
  margin-top: 30px;
  padding: 15px;
  overflow-y: scroll;
}

.homepage__cardContainer {
  height: 380px;
  width: 50%;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 5px;

  &-pictures {
    width: 100%;
    height: 70%;
  }

  &-description {
    width: 100%;
    height: 30%;
    background-color: white;
    padding: 10px;

    &-first {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}

.product__pictures {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
// FOOTER

.footer__wrapper {
  background-color: #f0ede2;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
