@font-face {
  font-family: "Walkway";
  src: url("./Assets/Fonts/Walkway.ttf");
}

@font-face {
  font-family: "WalkwayBlack";
  src: url("./Assets/Fonts/WalkwayBlack.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Walkway";
  color: rgb(25, 25, 25);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 241, 224);
}

// HEADER
.header__wrapper {
  display: flex;
  height: 10vh;
  background-color: #f0ede2;
  justify-content: center;

  &-links {
    display: flex;
    text-decoration: none;
    color: inherit;

    &-title {
      margin-left: 10px;

      &:hover {
        color: rgb(154, 153, 153);
        transition: all 0.8s;
      }
    }
  }

  &-logo {
    display: flex;
    align-items: center;
    font-family: "Walkway";

    &-title {
      text-decoration: none;
    }
  }

  &-icons {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
  }
}

.header__container {
  display: flex;
  width: 97%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

// HOMEPAGE & CARDS

.homepage__wrapper {
  height: auto;
  background-color: #f0ede2;
  padding: 10px 30px;

  &-title {
    display: flex;
    justify-content: center;
  }
}

.homepage__loading,
.homepage__errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.homepage__errorMessage {
  flex-direction: column;
}

.homepage__logo {
  height: 40px;
}

.homepage__container {
  display: grid;
  width: 100%;
  height: 90%;
  margin-top: 30px;
  padding: 15px;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  grid-gap: 15px;
}

.homepage__cardContainer {
  height: 380px;
  width: 400px;
  // border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;

  &-pictures {
    width: 100%;
    height: 70%;
  }

  &-description {
    width: 100%;
    height: 30%;
    padding: 10px;

    &-title {
      text-decoration: none;
      font-size: 0.9em;
    }

    &-price {
      font-size: 1.3em;
    }

    &-first {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &-second {
      font-size: 0.8em;
      margin-bottom: 10px;
    }

    &-third {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
    }
  }
}

.product__pictures {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media screen and (max-width: 600px) {
  .homepage__cardContainer-description {
    padding-left: 40px;
    padding-right: 40px;
  }
}

// RATING

.rating__avis {
  margin-left: 5px;
  font-size: 0.8em;
}

.rating__star {
  margin-right: 2px;
  font-size: 0.7em;
}

// PRODUCT PAGE

.product__container {
  height: 80vh;
  background-color: #f0ede2;
  display: flex;
}

.product__container-pictures {
  width: 70%;
  height: 100%;
  margin-top: 5px;
  margin-left: 15px;
}

.product__description {
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  border-bottom: 1px solid #9e9e9e;
}

.product__quantity {
  margin-left: 10px;
  margin-top: 10px;
}

.product__select {
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  outline: none;
  cursor: pointer;
}

.product__container-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;

  &-name {
    margin-left: 10px;
  }

  &-price {
    margin-left: 10px;
    font-family: "WalkwayBlack";
  }

  &-text {
    margin-left: 10px;
    font-size: 0.9em;
    margin-right: 20px;
    margin-top: 10px;
  }
}

.product__container-pictures-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__container-button {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 10px;

  &-valide {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #f0ede2;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #f0ede2;
    font-family: "WalkwayBlack";
    cursor: pointer;
    font-size: 1em;
    color: red;

    &:hover {
      box-shadow: inset 250px 0 0 0 black;
      color: whitesmoke;
    }
  }
}

@media screen and (max-width: 900px) {
  .product__container {
    flex-direction: column;
    height: auto;
  }

  .product__container-infos {
    width: 100%;
    height: 30%;
  }

  .product__container-pictures {
    width: 100%;
    height: 70%;
  }
}

// FOOTER

.footer__wrapper {
  display: flex;
  height: 10vh;
  background-color: #f0ede2;
  align-items: center;
  justify-content: center;
}

// CART PAGE

.cart__container {
  height: 80vh;
  background-color: #f0ede2;
  display: flex;

  &-error {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-wrapperProduct {
    width: 100%;
  }

  &-emptyCard {
    height: 25px;
    margin-right: 10px;
  }

  &-wrapperTotal {
    width: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 1.5em;
      margin-top: 10px;
    }

    &-secondTitle {
      margin-top: 30px;
    }
  }

  &-title {
    margin-left: 15px;
    margin-top: 10px;
  }
}

.carts__container {
  margin-top: 30px;
  width: 60%;
}

.cart__element-wrapper {
  height: 90px;
  width: 90%;
  margin-left: 15px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;

  &-name,
  &-price,
  &-delete,
  &-countInStock {
    margin-right: 10px;
  }

  &-delete {
    cursor: pointer;
  }

  &-image {
    object-fit: contain;
  }
}

.cart-image {
  height: 70px;
}

.cart__redirect-home {
  margin-left: 15px;
  margin-top: 15px;
  text-decoration: none;

  &:hover {
    color: grey;
  }
}

.carts__global-wrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .carts__global-wrapper {
    font-size: 0.8em;
  }

  .cart__container-wrapperTotal-title {
    font-size: 1.1em;
  }

  .cart__container-wrapperTotal-second {
    font-size: 1em;
  }

  .product__quantity {
    margin-top: 0;
    margin-left: 0;
  }

  .cart__element-wrapper-price,
  .cart__element-wrapper-name {
    margin-right: 0;
    font-size: 0.7em;
  }

  .cart__container-wrapperTotal {
    margin-top: 60px;
  }

  .cart__container-title {
    margin-top: 30px;
  }
}

// LOGIN PAGE

.login__container {
  height: 80vh;
  background-color: #f0ede2;
  display: flex;
  justify-content: center;
  align-items: center;

  &-customer {
    width: 50%;

    &-form {
      height: 275px;
      display: flex;
      align-items: center;
    }
  }

  &-newCustomer {
    width: 30%;

    &-bloc {
      height: 275px;
      display: flex;
      align-items: center;
      font-size: 0.9em;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-inputs {
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    width: 50%;
    padding-bottom: 5px;
    margin-bottom: 20px;
    outline: none;
  }
}

.login__form-button-validate {
  width: 50%;
  margin-top: 20px;
  background-color: rgb(12, 12, 12);
  color: whitesmoke;
  height: 30px;
  border: none;
}

.login__form-button-register {
  width: 75%;
  margin-top: 30px;
  background-color: rgb(12, 12, 12);
  color: whitesmoke;
  height: 30px;
  border: none;
}

@media screen and (max-width: 600px) {
  .login__container {
    flex-direction: column;
  }

  .login__container-customer-form {
    height: 170px;
  }

  .login__container-newCustomer,
  .login__container-customer {
    width: 80%;
  }

  .login__container-customer {
    margin-bottom: 45px;
  }

  .login__container-newCustomer-bloc {
    height: 200px;
  }

  .login__form {
    align-items: center;

    &-inputs {
      width: 100%;
    }
  }
}
