@font-face {
  font-family: "Walkway";
  src: url("./Assets/Fonts/Walkway.ttf");
}

@font-face {
  font-family: "WalkwayBlack";
  src: url("./Assets/Fonts/WalkwayBlack.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Walkway";
  color: rgb(25, 25, 25);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 241, 224);
}

// HEADER
.header__wrapper {
  display: flex;
  height: 10vh;
  background-color: #f0ede2;
  justify-content: center;

  &-links {
    text-decoration: none;
    color: inherit;
  }

  &-logo {
    display: flex;
    align-items: center;
    font-family: "Walkway";

    &-title {
      text-decoration: none;
    }
  }

  &-icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
}

.header__container {
  display: flex;
  width: 97%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

// HOMEPAGE & CARDS

.homepage__wrapper {
  height: auto;
  background-color: #f0ede2;
  padding: 10px 30px;

  &-title {
    display: flex;
    justify-content: center;
  }
}

.homepage__container {
  display: grid;
  width: 100%;
  height: 90%;
  margin-top: 30px;
  padding: 15px;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  grid-gap: 15px;
}

.homepage__cardContainer {
  height: 380px;
  width: 400px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;

  &-pictures {
    width: 100%;
    height: 70%;
  }

  &-description {
    width: 100%;
    height: 30%;
    padding: 10px;

    &-title {
      text-decoration: none;
      font-size: 0.9em;
    }

    &-price {
      font-size: 1.3em;
    }

    &-first {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &-second {
      font-size: 0.8em;
      margin-bottom: 10px;
    }

    &-third {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
    }
  }
}

.product__pictures {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

// RATING

.rating__avis {
  margin-left: 5px;
  font-size: 0.8em;
}

.rating__star {
  margin-right: 2px;
  font-size: 0.7em;
}

// PRODUCT PAGE

.product__container {
  height: 80vh;
  background-color: #f0ede2;
  display: flex;
}

.product__container-pictures {
  width: 70%;
  height: 100%;
  margin-top: 5px;
  margin-left: 15px;
}

.product__description {
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  border-bottom: 1px solid #9e9e9e;
}

.product__container-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;

  &-name {
    margin-left: 10px;
  }

  &-price {
    margin-left: 10px;
    font-family: "WalkwayBlack";
  }

  &-text {
    margin-left: 10px;
    font-size: 0.9em;
    margin-right: 20px;
    margin-top: 10px;
  }
}

.product__container-pictures-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__container-button {
  margin: 15px 0 0 10px;

  &-valide {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #f0ede2;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #f0ede2;
    font-family: "WalkwayBlack";
    cursor: pointer;

    &:hover {
      box-shadow: inset 250px 0 0 0 black;
      color: whitesmoke;
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 900px) {
  .product__container {
    flex-direction: column;
  }

  .product__container-infos {
    width: 100%;
    height: 30%;
  }

  .product__container-pictures {
    width: 100%;
    height: 70%;
  }
}

// FOOTER

.footer__wrapper {
  display: flex;
  height: 10vh;
  background-color: #f0ede2;
  align-items: center;
  justify-content: center;
}
